/* ########### VARIABILI DIMENSIONI ########### */
@fullWidth: 100vw;
@fullHeight: 100vh;
@contentWidth: 85vw;
@midPage: 40vw;


/* ########### VARIABILI COLORI ########### */

@primary: #ffffff;
@secondary: #020202;
@tertiary: #ae76d7;

@greyBg: #cfcfcf;
@darkBlueBg: #070918;

@fontGrey: #515151;


@facebookColor: #3B5998;
@twitterColor: #55ACEE;
@instagramColor: #E1306C;
@youtubeColor: #bb0000;

@sublabel: #b1b1b1;