@import "_variables.less";

@keyframes loading {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: @darkBlueBg;
}

/* ############ GENERAL CSS ############ */

.left {
    float: left;
}

.right {
    float: right;
}

.l {
    justify-content: flex-start;
}

.r {
    margin-left: auto;
}

.spacing {
    width: @contentWidth;
    height: @fullHeight;
    margin: 0 auto;

    .text {
        height: 53vh;
        float: left;
        flex-direction: row;
        flex: 1;
    }
}

.short {
    height: 25vh !important;
}

.two-thirds {
    height: calc(@fullHeight * 2 / 3);
}

.closed, .hidden {
    display: none !important;
    opacity: 0;
}

.samurai:hover {
    color: #726397;
}

.archer:hover {
    color: #63b3d8;
}

.shinigami:hover {
    color: #936916;
}

.spirit:hover {
    color: #ad7b8c;
}

.ninja:hover {
    color: #e6323e;
}

.demon:hover {
    color: #4ca972;
}

.titleSect {
    color: @primary;
    font-size: 3em;
    letter-spacing: 0.1em;
    font-weight: normal;
    display: block;
    padding: 4vh 0 3vh 0;
}

.dark {
    color: @fontGrey !important;
}

.text-center {
    text-align: center;
}

.paragraph {
    letter-spacing: 0.1em;
    color: @primary;
    line-height: 1.8;
    font-size: 17px; //1em
    font-weight: 200;
}

.stretch {
    padding: 15px;
    width: 80ch;
    margin: 50px auto;
}

.longPage {
    height: 120vh !important;
}

.mid-large {
    width: 450px;
    height: auto;
}

.white {
    color: @primary;
}

/* ###################################### */

.content {
    width: @fullWidth;
    height: auto;
    background-color: @secondary;

    .back-up {
        position: fixed;
        top: 97.8%;
        left: 92%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 2;

        a {
            display: block;
            text-align: center;
            padding: 8px;
            transition: all 0.3s ease;
            font-size: 15px;
            line-height: 5px;
            color: @primary;
            background-color: @secondary;
        }
    }

    aside {
        background-color: lighten(@secondary, 5%);
    }

    .simplebar-scrollbar:before {
        background-color: lighten(@secondary, 30%);
    }

    .simplebar-scrollbar {
        margin-right: 2px;
    }

    .arrow:hover {
        background: @primary;
        color: @secondary;
    }

    #s1 {
        width: @fullWidth;
        height: @fullHeight;
        background: #ae76d7 url(../assets/images/bg/sky.png) no-repeat top center;

        #scene {
            position: absolute;
            z-index: 1;

            .img-size {
                width: @fullWidth;
                height: @fullHeight
            }
        }

        .navbar {
            width: @contentWidth;
            height: auto;
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: auto;
            position: absolute;
            z-index: 10;

            .image {
                margin: 1vh auto;

                a {
                    text-decoration: none;

                    svg {
                        fill: @secondary;
                        width: 16vw;
                        height: auto;
                    }
                }
            }

            hr {
                border: 1px solid @secondary;
                width: 22vw;
                margin: auto;
                margin-top: 1vh;
            }

            ul {
                display: flex;
                flex-direction: row;
                width: 22vw;
                height: auto;
                margin: auto;
                font-size: 0.8em;
                font-weight: 600;
                justify-content: center;

                li {
                    display: flex;
                    flex: 1;
                    
                    a {
                        position: relative;
                        text-decoration: none;
                        color: @secondary;
                        overflow: hidden;
                        letter-spacing: .15rem;
                        transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
                        flex: 1;
                        text-align: center;
                    }

                    a:hover {
                        color: @primary;
                    }
                    
                    .linkEffect {
                        z-index: 1;
                        padding: 10px 12px;
                    }

                    .linkEffect::after {
                        position: absolute;
                        top: 0; bottom: 0;
                        right: 0; left: 0;
                        display: block;
                        background-color: @secondary;
                        content: "";
                        transform: translate3d(0,100%,0);
                        z-index: -1;
                    }

                    .linkEffect:hover::after {
                        transform: translate3d(0,0,0);
                        transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
                    }

                    .linkEffect:hover {
                        color: @primary;
                    }
                }
            } 
        }

        .contents1 {
            display: flex;
            flex: 1;
            position: relative;
            flex-direction: row;
            justify-content: center;
            z-index: 9;

            .videoContainer {
                margin-top: 24vh; 
            }
        }
    }
    
    #chiSiamo {
        background-color: @darkBlueBg;
        width: @fullWidth;
        height: @fullHeight;

        .team {
            width: 78vw;
            height: 39vh;
            display: flex;
            flex-direction: row;
            flex: 1;
            float: right;
            padding: 5vh 0;

            .list {
                color: @primary;
                list-style: none;
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 3vh 0;
                
                .element {
                    margin-top: 35px;

                    .sprite {
                        width: 81px;
                        height: 72px;
                        display: flex;
                        flex: 1;
                        flex-direction: row;
                        float: left;  
                        margin-right: 15px;
                    }

                    label {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        padding: 5px;
                        letter-spacing: 0.2em;
                    }

                    .name {
                        font-weight: bolder;
                        transition: all 0.3s ease;
                    }

                    .role {
                        font-weight: lighter;
                        color: @sublabel;
                    }
                }
            }

            .list-a {
                margin-right: 3vw;
            } 
        }
    }

    #progetto {
        background-color: @greyBg;
        width: @fullWidth;
        height: @fullHeight;

        .slideshow {
            display: flex;
            flex-direction: row;
            width: @fullWidth;
            height: @fullHeight;

            .clm-left {
                display: flex;
                flex-direction: column;
                flex: 1;

                .row {
                    display: flex;
                    flex: 1;

                    .col-md-5 {
                        margin-left: 7vw;
                    
                        .titleSlideshow {
                            color: #434343;
                            font-size: 3em;
                            font-weight: normal;
                            letter-spacing: 0.1em;
                            padding: 4vh 0 3vh 0;
                        }

                        p {
                            padding: 0px 20px 0px 50px;
                        }

                        .text-slides-container {
                            width: auto;
                            height: 200px;

                            h3 {
                                padding: 0px 20px 0px 50px;
                                font-size: 1.5em;
                                color: #434343;
                                letter-spacing: 0.1em;
                                font-weight: normal;
                            }

                            .slide {
                                margin-top: 20px;
                                display: none;

                                // .subtitle {
                                //     float: right;
                                //     margin-top: 30px;
                                //     color: @fontGrey;
                                //     font-weight: 100;
                                //     letter-spacing: 0.1em;
                                //     font-size: 0.8em;
                                //     width: 20px;
                                // }
                            }
                        }
                    }
                }

                .end {
                    align-items: flex-end;
                }

                .center {
                    align-items: center;
                }

                .start {
                    align-items: flex-start;
                }

                .slider-controls {
                    display: flex;
                    flex: 1;
                    justify-content: flex-end;
                    margin-right: 60px;

                    .controls {
                        .changeSlide {
                            text-decoration: none;

                            i {
                                font-size: 22px;
                                color: #434343;
                                padding: 0 5px;
                            }
                        }

                        .active {

                            i {
                                color: @tertiary;
                            }
                        }
                    }
                }
            }

            .clm-right {
                display: flex;
                flex: 1;

                .col-md-7 {
                    display: flex;
                    flex: 1;

                    .slide-image {
                        width: 60vw;
                        display: none;

                        .btnLogo {
                            margin: 15px;

                            .logo {
                                width: 75px;
                                height: auto;
                                margin-top: 10px;
                            }
                        }

                        #expandBtn {
                            float: right;
                            width: 45px;
                            height: auto;
                            background: none;
                            border: none;
                            margin: 20px;
                            outline: none;
                            cursor: pointer;
                            
                            .expand {
                                font-size: 30px;
                            }
                        }   
                    }

                    #slide1 {
                        background: url("../assets/images/slides/Asana1.PNG") no-repeat ;
                        background-size: cover;
                    }

                    #slide2 {
                        background: url("../assets/images/slides/Asana2.PNG") no-repeat;
                        background-size: cover;
                    }

                    #slide3 {
                        background: url("../assets/images/slides/Asana3.PNG") no-repeat;
                        background-size: cover;
                    }

                    #slide4 {
                        background: url("../assets/images/slides/Discord.jpg") no-repeat;
                        background-size: cover;
                    }

                    #slide5 {
                        background: url("../assets/images/slides/Gamemaker.PNG") no-repeat;
                        background-size: cover;
                    }

                    #slide6 {
                        background: url("../assets/images/slides/Git.PNG") no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }

    #divario {
        background-color: @primary;
        width: @fullWidth;
        height: @fullHeight;

        .spaceButton {
            width: @contentWidth;
            height: 17.5vh;
            margin: 100px auto;

            .cit {
                text-align: center;
                font-weight: 100;
                font-size: 21px;
                color: @fontGrey;
                margin-bottom: 60px;
            }

            .button {
                margin: 50px auto;
                display: block;
                text-decoration: none;
                width: 225px;
                height: 45px;
                color: @primary;
                text-align: center;
                line-height: 37px;
                background-color: #00247C;
                border-bottom: 11px #00195C solid;
            }

            .button:hover {
                background-color: rgb(23, 77, 216);
                border-color: rgb(0, 37, 138);
                transition: all 0.3s ease;
            }
        }

        .imageIll {
            width: 100vw;
            height: calc(@fullHeight / 3);
            background: url("../assets/images/illustrasions/socialDivide.png") no-repeat bottom center;
            background-size: cover;
        }
    }

    #gioco {
        background-color: @darkBlueBg;
        width: @fullWidth;
        height: @fullHeight;   
        
        .box {
            width: 70vw;
            height: calc(@fullHeight / 3);
            background-color: #472047;
            border: 10px #290929 solid;
            margin: auto;
        }

        .container {
            width: @contentWidth;
            height: auto;
            display: flex;
            flex-direction: column;
            margin: 50px 0;
            
            .ctn-el {
                display: flex;
                flex-direction: row;
            
                .el {
                    width: auto;
                    height: fit-content;
                    color: @primary;
                    border-top: 1px @primary solid;
                    border-bottom: 1px @primary solid;
                    font-size: 21px;
                    font-weight: 500;

                    .hinner-container {
                        display: flex;
                        flex-direction: row;
                        flex: 1;

                        span {
                            padding: 17px 15px;
                            width: 572px;
                        }
        
                        .argument {
                            display: flex;
                            justify-content: flex-start;
                        }

                        .fake-btn {
                            background: none;
                            border: none;
                            color: @primary;
                            outline: none;
                            width: auto;

                            .sign {
                                display: flex;
                                justify-content: flex-end;
                                font-size: 21px;
                                width: 10px;
                            }
                        } 
                    }

                    .cont-arg {
                        display: flex;
                        
                        .hinner-paragraph {
                            font-size: 15px;
                            width: 550px;
                            padding: 30px;
                            line-height: 1.8;
                        }
                    }
                }
            }

            .gif-ctn {
                margin: 50px 0;
                display: flex;
                flex-direction: row;

                .gif-container {
                    display: flex;
                    flex: 1;

                    .first {
                        width: 601px;
                        height: auto;
                    }

                    .second {
                        width: 601px;
                        height: auto;
                    }
                }
            }
        }
    }

    #footer {
        width: @fullWidth;
        background-color: @darkBlueBg;

        .icon-bar {
            margin: 0 auto;
            width: 25vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            background-color: none;

            .icstyle {
                display: flex;
                flex: 1;
                text-decoration: none;
                color: @primary;
                justify-content: center;
                transition: all 0.3s ease;
            }

            .facebook:hover {
                color: @facebookColor;
            }
        
            .instagram:hover {
                color: @instagramColor;
            }
            
            .youtube:hover {
                color: @youtubeColor;
            }

            .twitch:hover {
                color: @twitchColor;
            }
        }

        .credits {
            border-top: 1px solid @primary;
            margin: 13vh auto 0;
            width: 45vw;
            color: @primary;
            text-align: center;
            font-size: 14px;

            span {
                display: block;
                padding: 28px;
            }
        }   
    }
}