@import "_variables.less";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.spacing {
    width: @contentWidth;
    margin: 0 auto;
}


#content {
    width: @fullWidth;
    height: auto;
    background-color: lime;

    .icon-bar {
        position: fixed;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        float: right;
    }
      
    .icon-bar a {
        display: block;
        text-align: center;
        padding: 8px;
        transition: all 0.3s ease;
        font-size: 15px;
        line-height: 8px;
    }

    .icstyle {
        background-color: @secondary;
        color: @primary;
    }

    .facebook:hover {
        background: #3B5998;
        color: white;
    }
    
    .twitter:hover {
        background: #55ACEE;
        color: white;
    }
    
    .youtube:hover {
        background: #bb0000;
        color: white;
    }

    #s1 {   
        background-image: url("/assets/images/1261770.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: @fullWidth;
        height: @fullHeight;

        .navbar {
            width: @contentWidth;
            height: auto;
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: auto;
            margin-top: 1vh;
            margin-bottom: 1vh;

            .image {
                margin: auto;

                svg {
                    fill: @secondary;
                    width: 23vw;
                    height: auto;
                    cursor: default;
                }
            }

            hr {
                border: 1px solid @secondary;
                width: 28vw;
                margin: auto;
                margin-top: 1vh;
            }

            ul {
                display: flex;
                flex-direction: row;
                width: 28vw;
                height: auto;
                margin: auto;
                font-size: 0.8em;
                font-weight: 600;
                justify-content: center;

                li {
                    display: flex;
                    flex: 1;
                    //margin-top: 1vh;
                    
                    a {
                        position: relative;
                        text-decoration: none;
                        color: @secondary;
                        overflow: hidden;
                        letter-spacing: .15rem;
                        transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
                        flex: 1;
                        text-align: center;
                    }

                    a:hover{
                        color: @primary;
                    }
                    
                    .linkEffect {
                        z-index: 1;
                        padding: 2px 6px;
                    }

                    .linkEffect::after {
                        position: absolute;
                        top: 0; bottom: 0;
                        right: 0; left: 0;
                        display: block;
                        background-color: @secondary;
                        content: "";
                        transform: translate3d(0,100%,0);
                        z-index: -1;
                    }

                    .linkEffect:hover::after {
                        transform: translate3d(0,0,0);
                        transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
                    }

                    .linkEffect:hover{
                        color: @primary;
                    }
                }
            }
        }

        .contents1 {
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: center;

            img {
                margin-top: 3vh;
                width: 60%;
                height: auto;
            }
        }
    }
    
    #chisiamo {
        background-color: gray;
        width: @fullWidth;
        height: @fullHeight;
    }

    #footer {
        width: @fullWidth;
        height: 20vh;
    }
}