* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
#content {
  background-color: lime;
}
#content #v1 {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
#content #chisiamo {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
#content #footer {
  width: 100vw;
  height: 20vh;
}
