/* ########### VARIABILI DIMENSIONI ########### */
/* ########### VARIABILI COLORI ########### */
@keyframes loading {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  overflow-x: hidden;
}
/* ############ GENERAL CSS ############ */
.left {
  float: left;
}
.right {
  float: right;
}
.spacing {
  width: 85vw;
  margin: 0 auto;
}
.samurai:hover {
  color: #726397;
}
.archer:hover {
  color: #63b3d8;
}
.shinigami:hover {
  color: #936916;
}
.spirit:hover {
  color: #ad7b8c;
}
.ninja:hover {
  color: #e6323e;
}
.demon:hover {
  color: #4ca972;
}
.titleSect {
  color: #ffffff;
  font-size: 3em;
  letter-spacing: 0.1em;
  font-weight: normal;
  display: block;
  padding: 5vh 0 3vh 0;
}
.dark {
  color: #515151 !important;
}
.text-center {
  text-align: center;
}
.spacing {
  width: 85vw;
  margin: 0 auto;
}
.spacing .text {
  height: 53vh;
  float: left;
  flex-direction: row;
  flex: 1;
}
.spacing .text .paragraph {
  letter-spacing: 0.1em;
  color: #ffffff;
  line-height: 1.8;
  font-size: 1em;
  font-weight: 200;
}
/* ###################################### */
.content {
  width: 100vw;
  height: auto;
  background-color: #020202;
  /* ##### WHITE ICON BAR MODE #####
    .icstyle {
        background-color: @primary; 
        color: @secondary;
    }

    .facebook:hover {
        background: @facebookColor;
        color: @primary;
    }
    
    .twitter:hover {
        background: @twitterColor;
        color: @primary;
    }

    .instagram:hover {
        background: @instagramColor;
        color: @primary;
    }
    
    .youtube:hover {
        background: @youtubeColor;
        color: @primary;
    }

    .arrow:hover {
        background: @primary;
        color: @secondary;
    }

    */
}
.content .icon-bar {
  position: fixed;
  top: 50%;
  left: 97.9%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.content .icon-bar a {
  display: block;
  text-align: center;
  padding: 8px;
  transition: all 0.3s ease;
  font-size: 15px;
  line-height: 8px;
}
.content .back-up {
  position: fixed;
  top: 97.8%;
  left: 92%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.content .back-up a {
  display: block;
  text-align: center;
  padding: 8px;
  transition: all 0.3s ease;
  font-size: 15px;
  line-height: 5px;
}
.content aside {
  background-color: #0f0f0f;
}
.content .simplebar-scrollbar:before {
  background-color: #4f4f4f;
}
.content .simplebar-scrollbar {
  margin-right: 2px;
}
.content .icstyle {
  background-color: #020202;
  color: #ffffff;
}
.content .facebook:hover {
  background: #3B5998;
}
.content .twitter:hover {
  background: #55ACEE;
}
.content .instagram:hover {
  background: #E1306C;
}
.content .youtube:hover {
  background: #bb0000;
}
.content .arrow:hover {
  background: #ffffff;
  color: #020202;
}
.content #s1 {
  width: 100vw;
  height: 100vh;
  background: #ae76d7 url(../assets/images/bg/sky.png) no-repeat top center;
}
.content #s1 #scene {
  position: absolute;
  z-index: 1;
}
.content #s1 #scene .img-size {
  width: 100vw;
  height: 100vh;
}
.content #s1 .navbar {
  width: 85vw;
  height: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto;
  position: absolute;
  z-index: 10;
}
.content #s1 .navbar .image {
  margin: 1vh auto;
}
.content #s1 .navbar .image a {
  text-decoration: none;
}
.content #s1 .navbar .image a svg {
  fill: #020202;
  width: 16vw;
  height: auto;
}
.content #s1 .navbar hr {
  border: 1px solid #020202;
  width: 22vw;
  margin: auto;
  margin-top: 1vh;
}
.content #s1 .navbar ul {
  display: flex;
  flex-direction: row;
  width: 22vw;
  height: auto;
  margin: auto;
  font-size: 0.7em;
  font-weight: 600;
  justify-content: center;
}
.content #s1 .navbar ul li {
  display: flex;
  flex: 1;
}
.content #s1 .navbar ul li a {
  position: relative;
  text-decoration: none;
  color: #020202;
  overflow: hidden;
  letter-spacing: 0.15rem;
  transition: color 0.3s cubic-bezier(0.11, 0.7, 0, 1);
  flex: 1;
  text-align: center;
}
.content #s1 .navbar ul li a:hover {
  color: #ffffff;
}
.content #s1 .navbar ul li .linkEffect {
  z-index: 1;
  padding: 4px 6px;
}
.content #s1 .navbar ul li .linkEffect::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  background-color: #020202;
  content: "";
  transform: translate3d(0, 100%, 0);
  z-index: -1;
}
.content #s1 .navbar ul li .linkEffect:hover::after {
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s cubic-bezier(0.11, 0.7, 0, 1);
}
.content #s1 .navbar ul li .linkEffect:hover {
  color: #ffffff;
}
.content #s1 .navbar .payload {
  margin: 35px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.452);
  border: 1px solid black;
}
.content #s1 .navbar .payload .payloadText {
  font-size: 1.3em;
  font-weight: 100;
  color: #f3f3f3;
}
.content #s1 .contents1 {
  display: flex;
  flex: 1;
  position: relative;
  flex-direction: row;
  justify-content: center;
  z-index: 9;
}
.content #s1 .contents1 .videoContainer {
  margin-top: 30vh;
}
.content #chiSiamo {
  background-color: #070918;
  width: 100vw;
  height: 100vh;
}
.content #chiSiamo .team {
  width: 78vw;
  height: 39vh;
  display: flex;
  flex-direction: row;
  flex: 1;
  float: right;
  padding: 5vh 0;
}
.content #chiSiamo .team .list {
  color: #ffffff;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 3vh 0;
}
.content #chiSiamo .team .list .element {
  margin-top: 35px;
}
.content #chiSiamo .team .list .element .sprite {
  width: 81px;
  height: 72px;
  display: flex;
  flex: 1;
  flex-direction: row;
  float: left;
  margin-right: 15px;
}
.content #chiSiamo .team .list .element label {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
  letter-spacing: 0.2em;
}
.content #chiSiamo .team .list .element .name {
  font-weight: bolder;
  transition: all 0.3s ease;
}
.content #chiSiamo .team .list .element .role {
  font-weight: lighter;
  color: #b1b1b1;
}
.content #chiSiamo .team .list-a {
  margin-right: 3vw;
}
.content #progetto {
  background-color: #cfcfcf;
  width: 100vw;
  height: 100vh;
}
.content #divario {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}
.content #divario .spaceButton {
  width: 85vw;
  height: 20vh;
  margin: 100px auto;
}
.content #divario .spaceButton .cit {
  text-align: center;
  font-weight: 100;
  font-size: 21px;
  color: #515151;
}
.content #divario .spaceButton .button {
  margin: 30px auto;
  display: block;
  text-decoration: none;
  width: 225px;
  height: 45px;
  color: white;
  text-align: center;
  line-height: 37px;
  background-color: #00247C;
  border-bottom: 11px #00195C solid;
}
.content #gioco {
  background-color: #070918;
  width: 100vw;
  height: 100vh;
}
.content #footer {
  width: 100vw;
  height: 20vh;
}
