@import "_variables.less";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.spacing {
    width: @contentWidth;
    margin: 0 auto;
}


#content {
    width: @fullWidth;
    height: auto;
    background-color: purple;

    .icon-bar {
        position: fixed;
        top: 50%;
        left: 97.9%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 2;

        a {
            display: block;
            text-align: center;
            padding: 8px;
            transition: all 0.3s ease;
            font-size: 15px;
            line-height: 8px;
        }
    }

    .back-up {
        position: fixed;
        top: 97.8%;
        left: 92%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 2;

        a {
            display: block;
            text-align: center;
            padding: 8px;
            transition: all 0.3s ease;
            font-size: 15px;
            line-height: 5px;
        }
    }

    .icstyle {
        background-color: @secondary; 
        color: @primary;
    }

    .facebook:hover {
        background: @facebookColor;
    }
    
    .twitter:hover {
        background: @twitterColor;
    }

    .instagram:hover {
        background: @instagramColor;
    }
    
    .youtube:hover {
        background: @youtubeColor;
    }

    .arrow:hover {
        background: @primary;
        color: @secondary;
    }

    /* ##### WHITE ICON BAR MODE #####
    .icstyle {
        background-color: @primary; 
        color: @secondary;
    }

    .facebook:hover {
        background: @facebookColor;
        color: @primary;
    }
    
    .twitter:hover {
        background: @twitterColor;
        color: @primary;
    }

    .instagram:hover {
        background: @instagramColor;
        color: @primary;
    }
    
    .youtube:hover {
        background: @youtubeColor;
        color: @primary;
    }

    .arrow:hover {
        background: @primary;
        color: @secondary;
    }
    */

    #s1 {
        width: @fullWidth;
        height: @fullHeight;
        background: #ae76d7 url(../assets/images/sky.png) no-repeat top center;

        #scene {
            position: absolute;
            z-index: 1;

            .img-size {
                width: @fullWidth;
                height: @fullHeight
            }
        }

        .navbar {
            width: @contentWidth;
            height: auto;
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: auto;
            position: absolute;
            z-index: 10;

            .image {
                margin: 1vh auto;

                a {
                    text-decoration: none;

                    svg {
                        fill: @secondary;
                        width: 23vw;
                        height: auto;
                    }
                }
                
            }

            hr {
                border: 1px solid @secondary;
                width: 28vw;
                margin: auto;
                margin-top: 1vh;
            }

            ul {
                display: flex;
                flex-direction: row;
                width: 28vw;
                height: auto;
                margin: auto;
                font-size: 0.8em;
                font-weight: 600;
                justify-content: center;

                li {
                    display: flex;
                    flex: 1;
                    
                    a {
                        position: relative;
                        text-decoration: none;
                        color: @secondary;
                        overflow: hidden;
                        letter-spacing: .15rem;
                        transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
                        flex: 1;
                        text-align: center;
                    }

                    a:hover{
                        color: @primary;
                    }
                    
                    .linkEffect {
                        z-index: 1;
                        padding: 4px 6px;
                    }

                    .linkEffect::after {
                        position: absolute;
                        top: 0; bottom: 0;
                        right: 0; left: 0;
                        display: block;
                        background-color: @secondary;
                        content: "";
                        transform: translate3d(0,100%,0);
                        z-index: -1;
                    }

                    .linkEffect:hover::after {
                        transform: translate3d(0,0,0);
                        transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
                    }

                    .linkEffect:hover{
                        color: @primary;
                    }
                }
            }
        }

        .contents1 {
            display: flex;
            flex: 1;
            position: relative;
            flex-direction: row;
            justify-content: center;
            z-index: 9;

            .videoContainer {
                margin-top: 27vh;
                
            }
        }
    }
    
    #chisiamo {
        background-color: @secondary;
        width: @fullWidth;
        height: @fullHeight;

        .illustration {
            display: flex;
            flex-direction: row;
            flex: 1;
            float: left;
            width: 45vw;
            height: 96vh;
            margin-top: 6vh;

            .ill {
                width: 35vw;
                height: 45vh;
            }
        }

        .text {
            width: 40vw;
            height: 45vh;
            float: right;
            flex-direction: row;
            flex: 1;

            h1 {
                color: @primary;
                font-size: 3em;
                letter-spacing: 0.2em;
                display: block;
                padding: 5vh 0 3vh 0;
            }

            .paragraph {
                letter-spacing: 0.1em;
                color: @primary;
                line-height: 1.6;
                font-size: 1em;
            }
        }

        .team {
            width: 40vw;
            height: 10vh;
            display: flex;
            flex-direction: row;
            flex: 1;
            float: right;
            padding: 5vh 0;

            .list {
                color: @primary;
                list-style: none;
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 3vh 0;
                
                .element {
                    margin-top: 35px;

                    .sprite {
                        width: 64px;
                        height: 64px;
                        display: flex;
                        flex: 1;
                        flex-direction: row;
                        float: left;  
                        margin-right: 15px;
                    }

                    label {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        padding: 5px;
                    }
                }
            }

            .list-a {margin-right: 3vw;}
        }
    }

    #footer {
        width: @fullWidth;
        height: 20vh;
    }
}